.home-container {
  background-color: white;
  margin: 10% 20%;
  padding: 5%;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
}

.home-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container form input[type="text"] {
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  margin: 0 8px 0 0;
}

.home-container form input[type="text"] {
  width: 100%;
}

.home-container form button[type="submit"] {
  width: 30%;
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #c6ecec;
  border: 1px solid #c6ecec;
}

.error {
  background-color: #ffe7e7;
  color: #b34f4f;
  padding: 5%;
  border: 1px #a5606045 solid;
  border-radius: 10px;
}

.user-card {
  margin-top: 20px;
}

.user-card header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.user-card header .username {
  font-style: italic;
}

.user-card header div:first-child {
  width: 100px;
}

.user-card header div:first-child img {
  width: 100%;
}

.user-card header div:nth-child(2) {
  margin-left: 8px;
  line-height: 0.4;
  width: 100%;
}

.user-card header div:nth-child(2) p:last-child {
  line-height: 1.1;
}

#reposListContainer hr {
  border: 1px solid #504f4f;
}

.repo-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #d4d4d4;
  margin: 0px 2%;
}

.repo-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repo-card div img {
  height: 20px;
  margin: 0 5px;
}
/*# sourceMappingURL=components.css.map */